* {
	--main-bg: #e5e5e5;
	--aside-bg: #091336;
	--button-bg: #005ff8;

	--text-idle: #ffffff99;
	--text-active: #ffffff;

	--progress-green: #28a879;
	--progress-yellow: #ffd500;
	--progress-red: #ea1a4f;
}
