.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	.menuItem {
		display: flex;
		gap: 1rem;
		color: var(--text-idle);
		text-decoration: none;

		&.active {
			color: var(--text-active);
		}
	}
}
