.wrapper {
	display: flex;
	gap: 3rem;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	padding-inline: 2rem;
	padding-top: 0.5rem;
	margin: 0 auto;

	.date {
		color: gray;
	}

	.progress-bars-container {
		display: flex;
		gap: 1rem;
	}
	.search {
		width: 200px;
	}
	.company {
		width: 300px;
	}
	.user {
		width: 50px;
	}

	.company,
	.user {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}
